:root {
    --background-color:#282634;
    --color-primary: #00D1C1
}
*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

/* fonts */
@font-face {
    font-family: "Alegreya sans";
    src: url("assets/fonts/AlegreyaSans-Regular.ttf");
}

@font-face {
    font-family: "Alegreya sans";
    src: url("assets/fonts/AlegreyaSans-Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "Alegreya sans";
    src: url("assets/fonts/AlegreyaSans-Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "Alegreya sans";
    src: url("assets/fonts/AlegreyaSans-ExtraBold.ttf");
    font-weight: 900;
}

button {
    background-color: inherit;
    border: none;
    cursor: pointer;
}

body {
    margin: 0;
    padding: 0;
    font-family: "Alegreya sans";
}

iframe {
    width: 100%;
    height: 500px;
}

/* Header Styles*/

.header {
    position: sticky;
    top: 0;
    z-index: 1;
    display: flex;
    justify-items: flex-start;
    align-content: center;
    padding: 1em;
    background-color: #343146;
}

.wrapper {
    display: flex;
    justify-content: space-between;
    flex-basis: 100%;
}

.header-logo {
    width: 60px;
    height: 60px;
}

.menu-open-button,
.menu-close-button {
    color: var(--color-primary);
    font-size: 2rem;
    transition: all .25s ease-in-out;
}

.menu-open-button {
    align-self: center;
}

.menu-close-button {
    align-self: center;
    margin-top: .5em;
    padding: .5em;
}

.menu-close-button:active,
.menu-close-button:active {
    background-color: var(--color-primary);
    color:#ffffff;
}

.menu {
    display: flex;
    flex-direction: column;
    background-color: var(--background-color);
    height: 100vh;
    width:70%;
    position: absolute;
    top:0;
    left:0;
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

.slide-in {
 transform: translateX(0);
 transition: all .5s ease-in-out;
}


.slide-out {
    transform: translateX(-100%);
    transition: all .5s ease-in-out;
}

.menu-link {
    display: block;
    text-decoration: none;
    color:white;
    margin: 1em 0;
    padding: .75em 1.5em;
    font-size: 1.3rem;
    letter-spacing: 5px;
}

.menu-link:hover,
.menu-link:focus {
    background-color: var(--color-primary);
}

/* Main */
.main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:0 0 / cover no-repeat url("https://images.unsplash.com/photo-1617042375876-a13e36732a04?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjJ8fGRldmVsb3BlcnxlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
    background-color: var(--color-primary);
    background-blend-mode: screen;
    -webkit-clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    clip-path: polygon(0 0, 100% 0%, 100% 85%, 0% 100%);
    padding: 1em;
}

.title {
    font-weight: 900;
    font-size: clamp(2.5rem, 10vw, 4rem);
    text-align: center;
    margin: -1em 0 .25em 0;
}
.description {
    font-size: clamp(1.5rem, 7vw, 2.5rem);
    margin:0;
    margin-bottom:2em;
    text-transform: uppercase;
}

.section {
    padding-left: 2em;
    padding-right: 2em;
    min-height: 100vh;
}


/* About section */

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    margin-top: -10em;
    background-color: var(--background-color);
    min-height: 100vh;
    -webkit-clip-path:  polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
    clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0% 90%);
}


.code {
    color: var(--color-primary);
}

.about-title,
.projects-title {
    color: var(--color-primary);
    font-size: clamp(2rem, 10vw, 3.5rem);
    text-align: center;
    margin: 0;
    margin-top: 3em;
    text-transform: uppercase;
}

.about :last-child {
    margin-bottom: 5em;
}

.about-description, 
.project-description {
    font-size: clamp(1rem, 10vw, 1.2rem);
}

.content-column {
    max-width: 500px;
    margin: 0 auto;
}

/* Projects section */

.projects {
    color: var(--background-color);
}

.projects-title {
    color: inherit;
}

.project-title {
    font-size: clamp(1.5rem, 10vw, 2.25rem)
}

.card {
    max-width: 504px;
    margin: 0 auto;
}


/* Contact section */

.contact {
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    color: #ffffff;
    padding-top: 1em;
    clip-path: polygon(0 15%,100% 0%, 100% 100%, 0% 100%);
}

.social {
    font-size: clamp(1em, 10vw, 2em);
    color: var(--color-primary)
}

.contact-links {
    display: flex;
    justify-content: space-evenly;
}

.contact-links a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: inherit;
    font-weight: 700;
}

.contact-title {
    margin-bottom: 2em;
    font-size: clamp(2rem, 10vw, 3.5rem);
    color: var(--color-primary);
    place-self: center;
    text-transform: uppercase;
}

@media (min-width:700px) {
    button {
        display: none;
    }

    .menu {
        position: relative;
        height: auto;
        transform: translateX(0);
        flex-direction: row;
        background-color: inherit;
        width: 75%;
        padding: unset;
    }

    .menu-link {
        margin: 0;
    }

    .wrapper {
        flex-basis: 20%;
        justify-content: center;
        align-self: baseline;
    }

}

@media (min-height:1067px) {
    .about {
        margin-top: -13.5em;
    }
}

@media (max-width:414px){
    @media (min-height:640px) {
        .about-title {
            margin-top: 4em;
        }
    }
}